@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.banner {
	font-family: 'Roboto Mono', monospace;
	position: fixed;
	width: 100vw;
	height: 100vh;
	text-align: center;
	line-height: 100vh;
	font-size: 7vw;
}

.text {
	font-family: 'Roboto Mono', monospace;
	line-height: 100vh;
	border: none;
	outline: none;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	background-color: rgba(0,0,0,0);
}

label {
	z-index: -1;
	color: black;
}

input {
	z-index: 1;
	color: transparent;
	text-shadow: 0 0 0 green;
}
